* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.background {
    background-color: #DBD9D0;
}
.color1 {
    color: #fa6900;
}
.color2 {
    color: #603313;
}
.color3 {
    color: #4b4b4b;
}
.color4 {
    background-color: #edeae6;
}
.color5 {
    background-color: #fa6900;
}
